/* Le boutton sort du widget avec le css */

#containerBitcoin {
  
    display: block;
    margin : auto;
    /* margin-top: 200px; */

}
/* 
#button {margin-top: 40px;
width: fit-content;
padding: 2rem;
font-size: 2rem;
background-color: rgb(197, 159, 255);
color: black;
border: none;
border-radius: 4px;
cursor: pointer;
align-self: flex-end;} */